<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.neooffice.writer</string>
				<string>org.neooffice.writer.global</string>
				<string>org.neooffice.calc</string>
				<string>org.neooffice.impress</string>
				<string>org.neooffice.draw</string>
				<string>org.oasis.opendocument.text</string>
				<string>org.oasis-open.opendocument.text</string>
				<string>org.oasis-open.opendocument.text-template</string>
				<string>org.oasis.opendocument.text-master</string>
				<string>org.oasis-open.opendocument.text-master</string>
				<string>org.oasis.opendocument.spreadsheet</string>
				<string>org.oasis-open.opendocument.spreadsheet</string>
				<string>org.oasis-open.opendocument.spreadsheet-template</string>
				<string>org.oasis.opendocument.graphics</string>
				<string>org.oasis-open.opendocument.graphics</string>
				<string>org.oasis-open.opendocument.graphics-template</string>
				<string>org.oasis.opendocument.presentation</string>
				<string>org.oasis-open.opendocument.presentation</string>
				<string>org.oasis-open.opendocument.presentation-template</string>
				<string>org.oasis.opendocument.formula</string>
				<string>org.oasis-open.opendocument.formula</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>org.neooffice.quicklookplugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.2</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>ABB95D2F-4AA8-4B15-9CBF-F51F26816D9C</key>
		<string>QuickLookGeneratorPluginFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>5E2D9680-5022-40FA-B806-43349622E5B9</key>
		<array>
			<string>ABB95D2F-4AA8-4B15-9CBF-F51F26816D9C</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<!-- Change following property to <true/> if the generators supports
	 multiple concurrent requests -->
	<key>QLSupportsConcurrentRequests</key>
	<true/>
	<!-- Change following property to <true/> if the generators needs
	 to be run on main thread -->
	<key>QLNeedsToBeRunInMainThread</key>
	<false/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>NeoOffice Draw</string>
			<key>UTTypeIdentifier</key>
			<string>org.neooffice.draw</string>
			<key>UTTypeReferenceURL</key>
			<string>http://xml.openoffice.org/xml_specification.pdf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sxd</string>
					<string>std</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.sun.xml.draw</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OpenDocument Graphics</string>
			<key>UTTypeIdentifier</key>
			<string>org.oasis-open.opendocument.graphics</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.oasis-open.org/committees/download.php/12572/OpenDocument-v1.0-os.pdf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>odg</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.oasis.opendocument.graphics</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OpenDocument Graphics Template</string>
			<key>UTTypeIdentifier</key>
			<string>org.oasis-open.opendocument.graphics-template</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.oasis-open.org/committees/download.php/12572/OpenDocument-v1.0-os.pdf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>otg</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.oasis.opendocument.graphics-template</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>NeoOffice Impress</string>
			<key>UTTypeIdentifier</key>
			<string>org.neooffice.impress</string>
			<key>UTTypeReferenceURL</key>
			<string>http://xml.openoffice.org/xml_specification.pdf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sxi</string>
					<string>sti</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.sun.xml.impress</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OpenDocument Presentation</string>
			<key>UTTypeIdentifier</key>
			<string>org.oasis-open.opendocument.presentation</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.oasis-open.org/committees/download.php/12572/OpenDocument-v1.0-os.pdf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>odp</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.oasis.opendocument.presentation</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OpenDocument Presentation Template</string>
			<key>UTTypeIdentifier</key>
			<string>org.oasis-open.opendocument.presentation-template</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.oasis-open.org/committees/download.php/12572/OpenDocument-v1.0-os.pdf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>otp</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.oasis.opendocument.presentation-template</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>NeoOffice Calc</string>
			<key>UTTypeIdentifier</key>
			<string>org.neooffice.calc</string>
			<key>UTTypeReferenceURL</key>
			<string>http://xml.openoffice.org/xml_specification.pdf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sxc</string>
					<string>stc</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.sun.xml.calc</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OpenDocument Spreadsheet</string>
			<key>UTTypeIdentifier</key>
			<string>org.oasis-open.opendocument.spreadsheet</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.oasis-open.org/committees/download.php/12572/OpenDocument-v1.0-os.pdf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ods</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.oasis.opendocument.spreadsheet</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OpenDocument Spreadsheet Template</string>
			<key>UTTypeIdentifier</key>
			<string>org.oasis-open.opendocument.spreadsheet-template</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.oasis-open.org/committees/download.php/12572/OpenDocument-v1.0-os.pdf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ots</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.oasis.opendocument.spreadsheet-template</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>NeoOffice Writer</string>
			<key>UTTypeIdentifier</key>
			<string>org.neooffice.writer</string>
			<key>UTTypeReferenceURL</key>
			<string>http://xml.openoffice.org/xml_specification.pdf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sxw</string>
					<string>stw</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.sun.xml.writer</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>NeoOffice Writer</string>
			<key>UTTypeIdentifier</key>
			<string>org.neooffice.writer.global</string>
			<key>UTTypeReferenceURL</key>
			<string>http://xml.openoffice.org/xml_specification.pdf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sxg</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.sun.xml.writer.global</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OpenDocument Text</string>
			<key>UTTypeIdentifier</key>
			<string>org.oasis-open.opendocument.text</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.oasis-open.org/committees/download.php/12572/OpenDocument-v1.0-os.pdf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>odt</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.oasis.opendocument.text</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OpenDocument Text Template</string>
			<key>UTTypeIdentifier</key>
			<string>org.oasis-open.opendocument.text-template</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.oasis-open.org/committees/download.php/12572/OpenDocument-v1.0-os.pdf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ott</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.oasis.opendocument.text-template</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OpenDocument Text Master</string>
			<key>UTTypeIdentifier</key>
			<string>org.oasis-open.opendocument.text-master</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.oasis-open.org/committees/download.php/12572/OpenDocument-v1.0-os.pdf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>odm</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.oasis.opendocument.text-master</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OpenDocument Database</string>
			<key>UTTypeIdentifier</key>
			<string>org.oasis-open.opendocument.database</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.oasis-open.org/committees/download.php/12572/OpenDocument-v1.0-os.pdf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>odb</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.oasis.opendocument.database</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OpenDocument Formula</string>
			<key>UTTypeIdentifier</key>
			<string>org.oasis-open.opendocument.formula</string>
			<key>UTTypeReferenceURL</key>
			<string>http://xml.openoffice.org/xml_specification.pdf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>odf</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.oasis.opendocument.formula</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>NeoOffice Formula</string>
			<key>UTTypeIdentifier</key>
			<string>org.neooffice.formula</string>
			<key>UTTypeReferenceURL</key>
			<string>http://xml.openoffice.org/xml_specification.pdf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sxm</string>
				</array>
				<key>public.mime-type</key>
				<string>application/vnd.sun.xml.math</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
